.profile-card .profile-card-header {
  padding: 0;
  height: 200px;
  border-bottom: 1px solid #dee2e6 !important;
}
.profile-card .profile-card-header::before {
  background-image: url("../../images/user-cover-img.jpeg");
  content: "";
  width: 100%;
  height: 100px;
  display: block;
}

.profile-card .profile-card-header img {
  margin-top: -30px;
  align-items: center;
  justify-content: center;
  border: 5px solid white;

}

.profile-card .profile-card-header p {
  margin: 0;
}

.profile-card .profile-card-body .nav-link {
  border-radius: 0;
  text-align: left;
  display: flex;
  align-items: center;
  color: #606975;
}

.profile-card .profile-card-body .nav-link:hover {
  background-color: #f5f5f5;
}

.profile-card .profile-card-body .nav-link.active {
  background-color: #71a538;
  color: #f5f5f5;
}

.profile-card .profile-card-body .nav-link ion-icon {
  margin-right: 10px;
}

.profile form .form-group {
  margin-bottom: 30px;
}

.profile form label {
  color: #606975;
}

.profile form input {
  height: 40px;
}